body {
    margin: 0;
    background-color: darkgoldenrod;
}

#containor {
    /* padding:20px;
    margin-top:30px; */

    /* height: 1500px; */
    padding: 4% 15%;

}

.sepration
{
    color: #F5F5F5;
}

.mainheading {
    text-align: center;
    text-decoration: underline;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    align-self: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

a:link,
a:visited {
    color: #F5F5F5;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #F5F5F5;
    background-color: transparent;
}

a:link:active,
a:visited:active {
    color: (internal value);
}